section {
    padding: 20px;
    font-size: 11px;
    font-family: Arial;
}

form {
    display: inline-block;
}

.pill {
    background-color: #ffffcc;
    border-radius: 3px;
    display: inline-block;
    padding: 2px 5px;
    margin-right: 6px;
}
.pill span {
    width: 15px;
    display:inline-block;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #efefef;
    text-align: center;
}
.pill-block {
    margin: 0 10px;
}

.table {
    float: left;
}

.node circle {
     fill: #ffffff;
     stroke: steelblue;
     stroke-width: 2px;
}

.node text {
    font: 11px sans-serif;
}

.link {
    fill: none;
    stroke: #cccccc;
    stroke-width: 2px;
}
